/* Organização CSS /*/
html{
    scroll-behavior: smooth;
    
}
@font-face {
    font-family: "quadranta" ;
    src: url(Quadranta-Regular.otf);
}
@font-face {
    font-family: "designer";
    src: url(DESIGNER.otf) ;
}
/* Cabeçalho /*/
header{
    height: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: inline-block;  
}
#nav{
    font-size: 20px;
    color: rgb(173, 173, 173);
    padding: 0px;
    padding-top: 0px;
    margin: 10px;
   
}
#nav1{
    font-size: 20px;
    color: rgb(173, 173, 173);
    padding: 0px;
    padding-top: 0px;
    margin: 10px;
    margin-left: 350px;
}
.nav:hover{
    background: -webkit-linear-gradient(#ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    
}

h2{
   margin: 0px;
   
}
#dev{
    font-size: 2em;
    padding-top: 10px;
    font-family: quadranta;
}
h3{
    
    display: inline-block;
    margin:20px;
}
h4{
    
}

#kel{
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: inline-block;

    float: left;
   

    background: -webkit-linear-gradient(#6200ff, #00D4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logo{
    
    text-align: center;
}
a{
    text-decoration: none;
    font: bold;
    font-family: monospace;
    color: white;
}

body{ /* Body é Body ne /*/
    background-image: url("fundo2.jpg");
    background-size: cover;
    margin: 0px;
    background-color: black, 0.100;
    font-family: monospace;
    color: rgb(0, 0, 0);   
}
/* Div que deixa o fundo fosco e meio transparente */
.khrystian{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto; 
    width: 95%;
   
    
}
/* H1 com meu nome logo abaixo do cabeçalho - que está na DIV fosca */
#khrystian{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    font-family: "designer";
    transition: font-size 1s;
}
#khrystian:hover{
    background: -webkit-linear-gradient(#ff009d, #00D4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;
}

/* minha main /*/
main{
    margin-top: 20px;
    

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 95%;
    height: 500px;
    display: flex;   
    /*
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;

     */ 
}
p{
    margin: 0px;
    padding-top: 15px;
}
aside{

    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;

    
    color: rgb(255, 255, 255);
    
    width: 600px;
    height: 500px;
    border-radius: 30px;
    float: left;
      

   
    text-align: center;    
}
#profile{
    border-radius: 30px;
    margin-top: 10px;
}
#h2aside{
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: "designer";
    font-size: 3em;

    background: -webkit-linear-gradient(#e101ff, #04d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#paside{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 19px;

}
#paside2{
    
    margin-top: 0px;
    font-size: 20px;
}
#img1,#img2,#img3,#img4{
    transition: width 0.3s;
}
#img1:hover{
    width: 40px ;
}
#img2:hover{
    width: 40px ;
}
#img3:hover{
    width: 40px ;
}
#img4:hover{
    width: 40px ;
}

article{

    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;

    color: rgb(255, 255, 255);
    font-family: "cera";
    height: 500px;
    max-width: 800px;
    float: right;
    text-align: center;
    margin-left: 30px;
}
section{
    font-size: 2em;
    align-items: center;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    font-family: monospace;
}
#trybe{
    background: -webkit-linear-gradient(#06af00, #00ff88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#conhecimentos{
    
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 0px;
    margin-bottom: 0px;
    width: 95%;

   
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    

}
#conhecimen{
    align-items: center;
    display: inline-flex;
}
#conhecimento-nome{
    font-family: quadranta;
}
ul{
    text-align: start;
    margin: 30px;
   
}
#projetos{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    width: 95%;
    font-size: 2em;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.3em;
}
#projetin{
    display: inline-flex;
}
#projetin2{
    display: inline-flex;
}
.projecto{
    margin: 20px;
    background-color: rgb(255, 255, 255 0.1);
    padding: 75px;

    border: 6px solid;
    border-image: linear-gradient(227.91deg, #ff00c8 0%, #00E0FF 100%) 1;
    
}
#projeto-nome{
    
    font-family: quadranta;
}
#servico{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    width: 95%;
    font-size: 2em;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
#inicio{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.100) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    width: 100px;
    height: 30px;
    padding: auto;
    font-family: monospace;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
#inicio:hover{
    background: -webkit-linear-gradient(#ff009d, #0502d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer{
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 0px;
}
